.blog-column {
  //padding: 80px 0;
}
.blog-column__post {
  margin: 0 0 40px;
}


.blog-post {
  background: white;
  padding: 24px 32px;
  border-radius: 4px;
  box-shadow: $shadow-100;
}
.blog-post__heading {}
.blog-post__image {}
.blog-post__content {}


.blog-header {}
.blog-footer {}