// form password


.form-brick__password {
  position: relative;
}
.form-brick__password-button {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-grey;
  @include font-size(1);
  line-height: 24px;
  padding: 4px 16px;
  border-left: 1px solid $color-border-light;
  &:active {
    transform: translateY(2px);
  }
}

.input-style--password {
  padding-right: 80px;
}