// Colors
// ------

// backgrounds
$color-background-light: #f1f1f1;
$color-background: #eeeeee;
$color-background-transparent: rgba(#333,0.9);

// text colors
$text-grey: #5a5a58;
$text-black: #333333;
$text-white: #ffffff;
$text-red: #F73415;
$text-pink: #df3a62;

// shadows
$shadow-box: 0 2px 4px rgba(0,0,0,.12);
$shadow-dropdown: 0 2px 12px rgba(0,0,0,0.4);

$shadow-box: 0px 2px 6px -1px rgba(black, 0.3);
$shadow-hover: 0px 2px 12px -1px rgba(black, 0.3);
$shadow-active: 0px 2px 4px -1px rgba(black, 0.4);


$shadow-dropdown: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-box:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-hover: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-active: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$shadow-100: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-200: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-300: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-400: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-500: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);







// neutral
$color-black: #333333;

// border colors
$color-border-dark:#999999;
$color-border: #b6b6b4;
$color-border-light:#d9d9d9;

// Primary Raygun Greys (use $color-grey-darkest / Jet DK instead of Black)
$color-grey-darkest: #343434;
$color-grey-darker: #5a5a58;
$color-grey-dark: #999999;
$color-grey: #b6b6b4;
$color-grey-light: #cfcfcd;
$color-grey-lighter: #d9d9d9;
$color-grey-lightest: #f1f1f1 ;

// Pink
$color-pink-dark: #b22e4e;
$color-pink: #df3a62;
$color-pink-light: #e56181;

// Yellow
$color-yellow-dark: #ccb92e;
$color-yellow: #ffe739;
$color-yellow-light: #ffec61;

// Green
$color-green-dark: #428f54;
$color-green: #53b369;
$color-green-light: #75c287;

// Blue
$color-blue-dark: #0867af;
$color-blue: #0a81db;
$color-blue-light: #3b9ae2;

// Purple
$color-purple-dark: #6a5093;
$color-purple: #8464b8;
$color-purple-light: #9d83c6;

// Red
$color-red-dark: #dc280a ;
$color-red: #F73415 ;
$color-red-light: #fa5028 ;

// Orange
$color-orange-dark: #fa610b ;
$color-orange: #FB7A31 ;
$color-orange-light: #fb8c4c ;

// black
$color-dark-dark: #222;
$color-dark: #333;
$color-dark-light: #444;





// ----
// Material Colors
// ----

// Grey
$color-grey-050: #FAFAFA;
$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

// Pink
$color-pink-050: #FCE4EC;
$color-pink-100: #F8BBD0;
$color-pink-200: #F48FB1;
$color-pink-300: #F06292;
$color-pink-400: #EC407A;
$color-pink-500: #E91E63;
$color-pink-600: #D81B60;
$color-pink-700: #C2185B;
$color-pink-800: #AD1457;
$color-pink-900: #880E4F;

// Blue
$color-blue-050: #E3F2FD;
$color-blue-100: #BBDEFB;
$color-blue-200: #90CAF9;
$color-blue-300: #64B5F6;
$color-blue-400: #42A5F5;
$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
$color-blue-800: #1565C0;
$color-blue-900: #0D47A1;

// Green
$color-green-050: #E8F5E9;
$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-400: #66BB6A;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

// Purple
$color-purple-050: #F3E5F5;
$color-purple-100: #E1BEE7;
$color-purple-200: #CE93D8;
$color-purple-300: #BA68C8;
$color-purple-400: #AB47BC;
$color-purple-500: #9C27B0;
$color-purple-600: #8E24AA;
$color-purple-700: #7B1FA2;
$color-purple-800: #6A1B9A;
$color-purple-900: #4A148C;

// Red
$color-red-050: #FFEBEE;
$color-red-100: #FFCDD2;
$color-red-200: #EF9A9A;
$color-red-300: #E57373;
$color-red-400: #EF5350;
$color-red-500: #F44336;
$color-red-600: #E53935;
$color-red-700: #D32F2F;
$color-red-800: #C62828;
$color-red-900: #B71C1C;

// Orange
$color-orange-050: #FFF3E0;
$color-orange-100: #FFE0B2;
$color-orange-200: #FFCC80;
$color-orange-300: #FFB74D;
$color-orange-400: #FFA726;
$color-orange-500: #FF9800;
$color-orange-600: #FB8C00;
$color-orange-700: #F57C00;
$color-orange-800: #EF6C00;
$color-orange-900: #E65100;

// Yellow
$color-yellow-050: #FFFDE7;
$color-yellow-100: #FFF9C4;
$color-yellow-200: #FFF59D;
$color-yellow-300: #FFF176;
$color-yellow-400: #FFEE58;
$color-yellow-500: #FFEB3B;
$color-yellow-600: #FDD835;
$color-yellow-700: #FBC02D;
$color-yellow-800: #F9A825;
$color-yellow-900: #F57F17;

// Cyan
$color-cyan-050: #e6f8fb;
$color-cyan-100: #beeef5;
$color-cyan-200: #8fe4ee;
$color-cyan-300: #5ad8e8;
$color-cyan-400: #24cfe2;
$color-cyan-500: #00c7dd;
$color-cyan-600: #00b9cd;
$color-cyan-700: #00a7b7;
$color-cyan-800: #0095a0;
$color-cyan-900: #007377;

