
// SVG share and communicate
// Share timeline:
// length: 5s

$line-anim-duration: 10s;


// photo-group
.svg-photo-1 {
  transform: translateX(-50px);
  animation: anim-photo-1 linear 6s infinite;
}
.svg-photo-2 {
  animation: anim-photo-2 linear 6s infinite;
  animation-delay: -2s
}
.svg-photo-3 {
  transform: translateX(50px);
  animation: anim-photo-3 linear 6s infinite;
  animation-delay: -1s
}


// image
.svg-photo__image {
  //transform: translateY(2px)
}

$time: 1s;

// streak group
.svg-photo__streaks {}
.svg-photo__streak-1 {animation: anim-lines linear $time infinite;}
.svg-photo__streak-2 {animation: anim-lines linear $time infinite;}
.svg-photo__streak-3 {animation: anim-lines linear $time infinite;}


@keyframes anim-photo-1 {
  000% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(-150px);
  }
}
@keyframes anim-photo-2 {
  000% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(-150px);
  }
}
@keyframes anim-photo-3 {
  000% {
    transform: translateY(150);
  }
  100% {
    transform: translateY(-150px);
  }
}






@keyframes anim-lines {
  000% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}