.loading-container {
  padding: 20px 0;
  margin: -8px;
}

.loading-grid {
  float: left;
  padding: 8px;
  width: 25%;
  @include screen-med {
    width: 50%;
  }
  @include screen-mob {
    width: 100%;
  }
}
.loading-grid__item {
  margin: 0 0 8px;
  padding: 20px;
  border-radius: 4px;
  background: white;
}

.loading-grid__item--grey {
  background: $color-grey;
}