// Typography Stylesheet
// Typography Block, add to content parent.

.typography {
  font-family: $font-family;
  font-size: 17px;
  line-height: 1.4;
  a {
    color: $color-pink-500;
    text-decoration: underline;
    &:hover {color:$color-pink-700;}
    &:active {color:$color-pink-900;}
    &:visited {color:$color-pink-500;}
  }
  p {
    line-height: 1.6;
    margin: 8px 0 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: $color-grey-700;
    &:first-child {
      margin-top: 0;
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  ul, ol {
    margin: 8px 0 24px;
    padding: 0 0 0 20px;
  }

  h1 {margin: 32px 0 16px; font-size: 28px;}
  h2 {margin: 24px 0 12px; font-size: 24px;}
  h3 {margin: 24px 0 8px; font-size: 20px;}
  h4 {margin: 24px 0 8px; font-size: 16px;}
  h5 {margin: 16px 0 0;}
  h6 {margin: 16px 0 0;}

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    &:first-child {
      margin-top: 0;
    }
  }

  code {
    display: inline-block;
    word-break: keep-all;
    padding: 2px 4px;
    line-height: 16px;
    border-radius: 3px;
    background: $color-grey-300;
  }

  img {
    max-width: 100%;
    display: block;
  }

  blockquote {
    margin: 24px 0;
  }
}

.typography p:last-child,
.typography a:last-child,
.typography h4:last-child,
.typography ul:last-child,
.typography ol:last-child {
  margin: 0;
}

.typography--large {
  font-size: 18px;
}
