// _reset
@import "reset";

$breakpoint-1: 1120px;
$breakpoint-2: 960px;
$breakpoint-3: 640px;

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_center";
@import "shared/_type";
@import "shared/_useful";
@import "shared/_breakpoints";

// _icon
@import "icon/_shnappy-loading";
@import "icon/_shnappy-camera";
@import "icon/_shnappy-icons";
@import "icon/_icons";

// _chrome
@import "layout/_layout";
@import "layout/_layout-header";
@import "layout/_layout-navigation";

// _components
@import "components/_typography";
@import "components/_module";
@import "components/_module-sidebar";
@import "components/_button";
@import "components/_button-pattern";
@import "components/_dropdown";
@import "components/_form";
@import "components/_form-grid";
@import "components/_form-credit";
@import "components/_form-search";
@import "components/_form-password";
@import "components/_breadcrumb";
@import "components/_switch";
@import "components/_switch-control";
@import "components/_modal";
@import "components/_modal-upgrade";

// _views
@import "views/_color-grid";
@import "views/_loading-grid";
@import "views/_dropdown-grid";
@import "views/_button-template";

// -- client
@import "views/_studio--clients";
@import "views/_studio--clients--add";
@import "views/_studio--clients--client";

// -- contacts
@import "views/_studio--contacts";
@import "views/_studio--contacts--contact";

@import "views/_account--plan--select";




// _gallery
@import "views/_gallery";
