//---------------
// Banner Headings
//---------------


// Example Page
.example-banner {}
.example-banner__headline {
  text-align: center;
  margin: 0 0 24px;
}
.example-banner__cards {}
.example-banner__cta {
  text-align: center;
  margin: 40px auto 0;
  @include screen-mob {
    margin: 32px 0 0;
  }
}


// card container
.card-container {
  padding: 24px;
  margin: 0 -24px;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
}

.card-container__item {
  width: 320px;
  display: inline-block;
  padding: 8px;
}