// Mobile Header
.header-mobile {
  width: 100%;
  display: none;
  position: relative;
  padding-top: 56px;
  @include screen-med() {
    display: block;
  }
}
.header-mobile__logo {
  position: absolute;
  top: 0;
  left: 56px;
  right: 56px;
  height: 56px;
  padding: 8px 0;
}

//-- buttons
.header-mobile__button {
  position: absolute;
  top: 0;
  height: 56px;
  width: 56px;
}
.header-mobile__button--left {
  left: 0;
}
.header-mobile__button--right {
  right: 0;
}


.header-mobile__navigation {
  display: none;
  background: white;
  padding: 16px 24px;
}
.header-mobile__navigation--visible {
  display: block;
}

// sub components
.mobile-logo {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  width: 90px;
  background-size: 90px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/logo/shnappy-logo.svg');
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
    transform: translateY(2px);
  }
}
.mobile-logo--active {
  opacity: 1;
  transform: translateY(0)!important;
}


.mobile-header-button {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 56px;
  padding: 20px;
  outline: none;
  border: none;
  //background: rgba(white,0.05);
  color: rgba(white,0.8);
  color: $color-pink-400;
  &:hover {
    color: white;
    background: rgba(white,0.1);
  }
  &:active {
    color: $color-pink-500;
    background: black;
  }
}
.menu-button--open {
  background: $color-pink-700;
}
