.mobile-tray {
  width: 320px;
}

.mobile-tray__close {
  height: 56px;
  background: $color-grey-900;
}
.mobile-tray__navigation {
  border-top: 1px solid $color-grey-800;
}


.mobile-tray__item {
  height: 44px;
}

.mobile-tray__subitem {
  height: 40px;
}




.menu-close {
  position: relative;
  height: 56px;
}

.menu-close__icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  padding: 20px;
  color: $color-pink-500;
  background: rgba(white,0.05);
  color: rgba(white,0.8);
  color: $color-pink-400;
  &:hover {
    color: white;
    background: rgba(white,0.1);
  }
  &:active {
    color: $color-pink-500;
    background: black;
  }
}

.menu-close__icon--left {
  left: 0;
}
.menu-close__icon--right {
  right: 0;
}
