//---------------
// Help section
//---------------

.section-help {}
.section-help__heading {
  margin: 0 0 24px;
  text-align: center;
}
.section-help__cta {
  text-align: center;
  margin: 0 auto;
}