// Public website styles

// _reset
@import "reset";

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_breakpoints";
@import "shared/_center";
@import "shared/_type";
@import "shared/heading";
@import "shared/_useful";
@import "shared/_grid";


// _icon
@import "icon/_icon-loading";
@import "icon/_shnappy-icons";
@import "icon/_icon";


// _common
// common components used repetitively across many pages.
@import "common/_layout";
@import "common/_header";
@import "common/_header-mobile";
@import "common/_footer";

@import "common/_section-quote";
@import "common/_section-signup";
@import "common/_section-help";


// _components
@import "shared/_typography";
@import "components/how-it-works";
@import "components/how-it-works--upload";
@import "components/how-it-works--share";
@import "components/how-it-works--lines";
@import "components/how-it-works--photo";
@import "components/_module";
@import "components/_button";
@import "components/_button-primary";
@import "components/_button-pattern";
@import "components/_dropdown";
@import "components/_form";
@import "components/_form-grid";
@import "components/_form-search";
@import "components/_form-checkbox";
@import "components/_breadcrumb";
@import "components/_switch";
@import "components/_switch-control";
@import "components/_page-alert";


// _views
//@import "views-public/_web--banner";
//@import "views-public/_web--content";
//@import "views-public/_web--headline";
//@import "views-public/_web--cta";
@import "views-public/_placeholder";

@import "views-public/page-home/_page-home";
@import "views-public/page-home/_home-banner";

@import "views-public/page-features/_page-features";
@import "views-public/page-features/_features-banner";

@import "views-public/page-examples/_page-examples";
@import "views-public/page-examples/_example-banner";
@import "views-public/page-examples/_gallery-card.scss";

@import "views-public/page-pricing/_page-pricing";

@import "views-public/page-help/_page-help";
@import "views-public/page-help/_help-banner";

@import "views-public/page-blog/_page-blog";